input[type=text], select, textarea {
    width: 250px;
    padding: 12px; 
    border: 1px solid #ccc;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    
  }

  input[type=password], select, textarea {
    width: 250px;
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
   
  }

  .container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #EEEEEE;
  }

  .container2 {
    width: 70%;
    margin: auto;
    background-color: #EEEEEE;
  }

  .img {
      width: 200px;
      height: 200px;
  }

  .App {
    background-color: #EEEEEE;
  }

  .extend {
    background-color: #EEEEEE;
    height: 350px;
  }

  .extend2 {
    
    margin-top: 30px;
  }

  .fix {
      margin-top: 0;
      margin-bottom: 0;
  }